<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <style>
        body{
            background-color: burlywood;
        }
        h1{
            color: #333;
            text-align: center;
        }
        p{
            color:aquamarine;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>This is the Contact page</h1>
    <p>Addres: Fake 123, Str.: Lorem, ipsum., Zip: 12345</p>
</body>
</html>